*{
    box-sizing: border-box;
    font-family: "Segoe UI", system-ui, sans-serif;
}

body {
    font-size: 14px;
    margin-top: 85px;
}

#chatContainer {
    flex: 1;
    overflow-y: auto;

    background-image: url("/images/fon.jpg");
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}

.chat-row {
    display: flex;
}

.chat-row.mine {
    justify-content: flex-end;
}

.chat-row.other {
    justify-content: flex-start;
}

.chat-bubble {
    max-width: 70%;
    padding: 10px 14px;
    border-radius: 14px;
    font-size: 14px;
}

.chat-row.mine .chat-bubble {
    background-color: var(--bs-success-bg-subtle);
    color: #000000;
    border-bottom-right-radius: 4px;
    margin-right: 25px;
}

.chat-row.other .chat-bubble {
    background-color: #f1f1f1;
    color: black;
    border-bottom-left-radius: 4px;
}

.chat-header {
    font-size: 12px;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
}

.chat-role {
    opacity: 0.7;
}

.chat-time {
    font-size: 11px;
    opacity: 0.6;
    margin-top: 5px;
    text-align: right;
}

.chat-text {
    white-space: pre-wrap; /* сохраняет переносы строк из текста */
    word-wrap: break-word; /* переносит длинные слова */
}

.modal-header .btn-close {
    margin-right: 10px;
}

#chatModal .modal-content {
    height: 90vh;
    display: flex;
    flex-direction: column;
}

#chatModal .modal-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 85vh;
}

.modal-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-input-wrapper {
    padding: 10px;
    background: white;
    border-top: 1px solid #eee;
}