* {
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}

body {
    margin: 0;
    background: #f4f6f9;
    color: #333;
}

/* ===== NAVBAR ===== */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    background: #1e293b;
    color: white;
}

.navbar a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

/* ===== CONTENT ===== */
.container {
    max-width: 1100px;
    margin: auto;
    padding: 40px 20px;
}

.hero {
    text-align: center;
    margin-bottom: 40px;
}

.hero h1 {
    font-size: 36px;
}

/* ===== MODES ===== */
.modes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}

.mode-card {
    background: white;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: transform 0.2s;
    cursor: pointer;
}

.mode-card:hover {
    transform: translateY(-5px);
}

.mode-card h2 {
    margin-top: 0;
}

.mode-card ul {
    padding-left: 18px;
}

.mode-card button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.practice button {
    background: #22c55e;
    color: white;
}

.exam button {
    background: #ef4444;
    color: white;
}

.hard button {
    background: #f97316;
    color: white;
}

/* ===== FOOTER ===== */
.footer {
    text-align: center;
    padding: 20px;
    color: #777;
}

.logo-form, .admin-panel {
    display: inline-block;
}

.admin-panel {
    margin-left: 10px;
}

.logo-btn {
    all: unset;              /* убирает стандартные стили кнопки */
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.user-role {
    padding: 4px 10px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 13px;
}

.admin-link {
    color: #c62828;
    font-weight: 600;
    background-color: #60c7b2;
    border-radius: 8px;
    padding: 8px 15px;
}

.admin-link:hover {
    opacity: 0.8;
    cursor: pointer;
}
