* {
    box-sizing: border-box;
    font-family: "Segoe UI", system-ui, sans-serif;
}

.logo-btn {
    all: unset; /* убирает стандартные стили кнопки */
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.owner-link {
    color: #c62828;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 72px;

    padding: 0 32px;

    background: #1e293b;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    color: #fff;

    margin-bottom: 15px;
}

.nav-center {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 🔥 */
    align-items: center;

    font-size: 14px;
    line-height: 1.2;
}


.navbar nav {
    display: flex;
    align-items: center;
    gap: 3px;
}

.navbar nav a, .owner-link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 6px;
    padding: 8px 18px;
}

.navbar nav a:hover{
    background-color: #60c765;
}

.owner-link:hover {
    background-color: #60c765;
}

.burger {
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

/* === MOBILE === */
@media (max-width: 768px) {

    .nav-center {
        display: none;
    }

    .burger {
        display: block;
    }

    .navbar nav {
        position: absolute;
        top: 100%;
        right: 0;

        width: 240px;
        background: #0f172a;

        flex-direction: column;
        gap: 0;

        overflow: hidden;
        max-height: 0;
        opacity: 0;

        transition: max-height 0.35s ease, opacity 0.3s ease;
        border-radius: 0 0 10px 10px;
    }

    .navbar nav.active {
        max-height: 400px;
        opacity: 1;
    }

    .navbar nav a {
        padding: 10px 16px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        margin-bottom: 7px;
        width: 90%;
        text-align: center;
    }

    /* mobile user block */
    .mobile-user {
        padding: 12px 16px;
        font-size: 14px;
        background: #020617;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .dropdown-content {
        position: static;
        box-shadow: none;
        border-radius: 0;
    }

    .dropdown.active .dropdown-content {
        display: block;
    }
}

/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Button */
.dropbtn {
    background: transparent;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 15px;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
}

/* Dropdown menu */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    padding-top: 20px;
    background: #1f2933;
    min-width: 180px;
    border-radius: 8px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    z-index: 999;
}

/* Links */
.dropdown-content a {
    color: white;
    padding: 10px 14px;
    display: block;
    text-decoration: none;
    transition: background 0.2s;
}

.dropdown-content a:hover {
    background: #374151;
}

/* Show dropdown on hover (desktop) */
.dropdown:hover .dropdown-content {
    display: block;
}


