.logo-form, .admin-panel {
    display: inline-block;
}

.admin-panel {
    margin-left: 10px;
}

.logo-btn {
    all: unset; /* убирает стандартные стили кнопки */
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.admin-link {
    color: #c62828;
    font-weight: 600;
    background-color: #48c2c5;
    border-radius: 8px;
    padding: 8px 15px;
}

.admin-link:hover {
    opacity: 0.8;
    cursor: pointer;
}

.owner-link {
    color: #c62828;
    font-weight: 600;
    background-color: #60c765;
    border-radius: 8px;
    padding: 8px 15px;
}

.owner-link:hover {
    opacity: 0.8;
    cursor: pointer;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 72px;

    padding: 0 32px;

    background: #1e293b;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    color: #fff;

    margin-bottom: 15px;
}

.nav-center {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 🔥 */
    align-items: center;

    font-size: 14px;
    line-height: 1.2;
}


.navbar nav {
    display: flex;
    align-items: center;
    gap: 6px;
}

.navbar nav a {
    color: #fff;
    text-decoration: none;
    /*margin-left: 20px;*/
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 5px 15px;
}

.navbar nav a:hover {
    /*text-decoration: underline;*/
    background-color: #60c765;
}

.burger {
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

/* === MOBILE === */
@media (max-width: 768px) {

    .nav-center {
        display: none;
    }

    .burger {
        display: block;
    }

    .navbar nav {
        position: absolute;
        top: 100%;
        right: 0;

        width: 240px;
       background: #0f172a;

       flex-direction: column;
       gap: 0;

       overflow: hidden;
       max-height: 0;
       opacity: 0;

       transition: max-height 0.35s ease, opacity 0.3s ease;
       border-radius: 0 0 10px 10px;
   }

   .navbar nav.active {
       max-height: 400px;
       opacity: 1;
   }

   .navbar nav a {
       padding: 10px 16px;
       border-bottom: 1px solid rgba(255, 255, 255, 0.1);
       margin-bottom: 7px;
       width: 90%;
       align-items: center;
       text-align: center;
   }

   /* mobile user block */
   .mobile-user {
       padding: 12px 16px;
       font-size: 14px;
       background: #020617;
       border-bottom: 1px solid rgba(255, 255, 255, 0.1);
   }
}