body {
    font-family: Arial;
    background: #eef2f7;
}

.pupil-panel {
    background: #1c4c8c;
    color: white;
    padding: 15px;
    margin-top: 90px;
}

.panel {
    background: white;
    margin: 20px;
    padding: 15px;
    border-radius: 6px;
}

.assignment {
    margin-bottom: 8px;
}
