* {
    box-sizing: border-box;
    font-family: "Segoe UI", system-ui, sans-serif;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
}

.app-layout {
    display: flex;
    height: 90vh;
    margin-top: 72px;
}

/* SIDEBAR */

.sidebar {
    position: fixed;
    top: 72px;
    left: 0;

    width: 260px;
    height: calc(100vh - 72px);

    background: #1e293b;
    color: white;

    display: flex;
    flex-direction: column;

    transition: transform 0.3s ease;

    z-index: 1000;
}

/* ПОЛНОЕ скрытие */
.sidebar.collapsed {
    transform: translateX(-100%);
}

.sidebar-header {
    padding: 15px;
    display: flex;
    justify-content: center;
    background: #0f172a;
    text-transform: uppercase;
}

.sidebar-body {
    padding: 10px;
}

.menu-btn {
    width: 100%;
    margin-bottom: 8px;
    padding: 10px;
    border: none;
    background: #334155;
    color: white;
    border-radius: 6px;
    text-transform: uppercase;
}

.menu-btn:hover {
    background: #475569;
}

/* WORKSPACE */

.workspace {
    margin-left: 260px;
    flex: 1;
    display: flex;
    flex-direction: column;
    transition: margin-left 0.3s ease;
}

.workspace-header {
    padding: 12px 20px;
    background: #f1f5f9;
    border-bottom: 1px solid #ddd;
}

.workspace-body {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}

.workspace.full {
    margin-left: 0;
}

.center-msg {
    text-align: center;
    margin-top: 120px;
    font-size: 18px;
    color: #64748b;
}

/* TABLE */

.table-box {
    background: white;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.05);
}

#sidebarToggle {
    position: fixed;
    top: 80px;
    left: 10px;
    z-index: 1100;

    background: #334155;
    color: white;
    border: none;

    padding: 8px 12px;
    border-radius: 6px;
}

#workspaceTitle {
    text-align: center;
    text-transform: uppercase;
}