body {
    font-family: Arial;
    background: #f4f4f4;
    margin: 90px 0px 0px 0px;
}

header {
    background: #222;
    color: white;
    padding: 15px;
}

.panel {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

.question {
    padding: 6px;
}

.counter {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

button {
    padding: 8px 14px;
    margin-top: 10px;
}
