* {
    box-sizing: border-box;
    font-family: "Segoe UI", system-ui, sans-serif;
}

body {
    margin: 0;
    height: 88vh;
    overflow-y: auto;
    background: #f5f6f8;
}

.app-layout {
    display: flex;
    height: 100%;
    margin-top: 80px;
}

/* SIDEBARS */

.sidebar {
    width: 25%;
    background: white;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    transition: width 0.25s ease;
}

.remove-btn {
    margin-left: auto;
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.sidebar.collapsed {
    width: 0;
    overflow: hidden;
    border: none;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background: #f0f0f0;
}

.sidebar-body {
    flex: 1;
    overflow-y: auto;
    padding: 8px;
}

/* MAIN */

.workspace {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.workspace-header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background: white;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
}

.workspace-body {
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: hidden;
}

.question-box {
    position: relative;
    min-height: 120px;
    flex: 1;
    overflow-y: auto;
    border: 1px solid #ddd;
    background: #fafafa;
    padding: 8px;
}

/* placeholder центр */
.placeholder {
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #999;
    font-style: italic;
    text-align: center;
    pointer-events: none;
}

/* верхняя половина */
.builder-top {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* нижняя половина */
.builder-bottom {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.builder-bottom h6{
    text-transform: uppercase;
    text-align: center;
}
.builder-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.question-item {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 4px;
    border-bottom: 1px solid #eee;
}

.group-name {
    cursor: pointer;
    min-width: 120px;
}

input.form-control {
    height: 28px;
    font-size: 14px;
}

.col{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}