* {
    box-sizing: border-box;
    font-family: "Segoe UI", system-ui, sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f6fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 90px auto 40px auto;
}

.progress-wrapper {
    position: fixed;
    top: 80px;              /* ниже navbar */
    left: 50%;
    transform: translateX(-50%);

    width: 75%;
    height: 35px;

    display: flex;
    align-items: center;     /* вертикально по центру */
    gap: 16px;               /* расстояние между элементами */

    z-index: 1000;
}


.timer {
    background-color: darkorchid;
    color: cyan;

    padding: 0 16px;
    font-size: 18px;
    font-weight: 600;

    border-radius: 8px;
    height: 35px;
    min-width: 90px;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}


.progress-bar {
    flex: 1;                 /* занимает всё оставшееся место */
    height: 12px;

    background-color: #e0e0e0;
    border-radius: 6px;
    overflow: hidden;
}

#progress {
    height: 100%;
    width: 0%;
    background-color: #4e8cff;
    transition: width 0.3s ease;
}

.questions-container{
    padding-top: 35px;
}

.question-block {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: auto;

    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    height: 75vh;
}

.question-block.active {
    border: 2px solid #4e8cff;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}

button {
    cursor: pointer;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #4e8cff;
    color: white;
    font-weight: 500;
    margin-right: 5px;
}

button:hover {
    background-color: #3a6fcc;
}

.actions-bottom {
    margin-top: 15px;
    text-align: right;
}

.result-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: center;
}

.result-card h2 {
    margin-top: 0;
}

.result-actions button {
    margin: 5px;
}

.hidden {
    display: none !important;
}

.empty {
    text-align: center;
    color: #888;
    font-size: 18px;
    margin-top: 50px;
}

.wrong-question-card {
    border: 3px solid red;
    padding: 15px 25px;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 16px;
}

li.wrong-answer {
    background-color: lightpink;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px 15px;
}

li.correct-answer {
    background-color: lightgreen;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px 15px;
}

.commentary-box {
    background-color: lightskyblue;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px 15px;
}