<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Основные метатеги -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO и описание страницы -->
    <meta name="description" content="Описание страницы">
    <meta name="author" content="Автор">

    <!-- Заголовок страницы -->
    <title>Ошибка регистрации</title>

    <!-- Подключение CSS -->
    <link rel="stylesheet" href="">
    <!-- Подключение шрифтов Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>
<body>
<div
        style="
        color:red;
        font-size:30px;
        text-align:center;
        margin-top: 35vh;
        ">
    <b><span th:text="${errorMessage}"></span></b>
    <br>
    <a href="/registration.html">Назад к регистрации</a>
    <br>
    <a href="/login">Назад к логин</a>
</div>


</body>
</html>
