<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test Platform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/index.css">

    <link rel="icon" href="/images/favicon.ico">

</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<main class="container">
    <section class="hero">
        <h1>Bilimingizni sinab ko‘ring</h1>
        <p> Testlar orqali bilimni mustahkamlash, xatolar ustida ishlash va imtihonlarga tayyorlanish. </p>
    </section>

    <section class="modes">
        <div class="mode-card practice" onclick="startPractice()">
            <h2>📝 Amaliyot</h2>
            <ul>
                <li>Cheklovsiz vaqt</li>
                <li>Izohlar mavjud</li>
                <li>Orqaga qaytish mumkin</li>

            </ul>
            <button>Boshlash</button>
        </div>
        <div class="mode-card exam" onclick="startExam()"><h2>⏱ Imtihon</h2>
            <ul>
                <li>Vaqt cheklangan</li>
                <li>Izohlar yo‘q</li>
                <li>Natija oxirida</li>
            </ul>
            <button onclick="startExam()">Boshlash</button>
        </div>
        <div class="mode-card hard" onclick="startHardMode()"><h2>🔥 Murakkab</h2>
            <ul>
                <li>Faqat yechilmagan savollar</li>
                <li>Qisqa vaqt</li>
                <li>Izohlar yo‘q</li>
            </ul>
            <button onclick="startHardMode()">Boshlash</button>
        </div>
    </section>
</main>
<footer class="footer"> © 2026 TestPlatform. Made by Behzod Komilov.</footer>

<!--Модал страница для ошибки-->
<div class="modal fade" id="errorModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header bg-danger text-white">
                <h5>Error</h5>
            </div>

            <div class="modal-body" id="errorText"></div>

            <div class="modal-footer">
                <button class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    OK
                </button>
            </div>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
<script src="/js/navbar.js"></script>
<script src="/js/index.js"></script>
</body>
</html>