<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test Platform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/navbar.js" defer></script>
    <script src="/js/index.js" defer></script>
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<main class="container">
    <section class="hero">
        <h1>Bilimingizni sinab ko‘ring</h1>
        <p> Testlar orqali bilimni mustahkamlash, xatolar ustida ishlash va imtihonlarga tayyorlanish. </p>
    </section>

    <section class="modes">
        <div class="mode-card practice" onclick="startPractice()">
            <h2>📝 Amaliyot</h2>
            <ul>
                <li>Cheklovsiz vaqt</li>
                <li>Izohlar mavjud</li>
                <li>Orqaga qaytish mumkin</li>

            </ul>
            <button>Boshlash</button>
        </div>
        <div class="mode-card exam" onclick="startExam()"><h2>⏱ Imtihon</h2>
            <ul>
                <li>Vaqt cheklangan</li>
                <li>Izohlar yo‘q</li>
                <li>Natija oxirida</li>
            </ul>
            <button onclick="startExam()">Boshlash</button>
        </div>
        <div class="mode-card hard" onclick="startHardMode()"><h2>🔥 Murakkab</h2>
            <ul>
                <li>Faqat yechilmagan savollar</li>
                <li>Qisqa vaqt</li>
                <li>Izohlar yo‘q</li>
            </ul>
            <button onclick="startHardMode()">Boshlash</button>
        </div>
    </section>
</main>
<footer class="footer"> © 2026 TestPlatform. Made by Behzod Komilov.</footer>
</body>
</html>