<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Основные метатеги -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Заголовок страницы -->
    <title>Pupil Panel</title>

    <!-- Подключение CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/pupil.css}">

</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<header class="pupil-panel">
    <h1>Pupil Dashboard</h1>
</header>

<section class="panel">
    <h2>Приглашения</h2>
    <div id="invites"></div>
</section>

<section class="panel">
    <h2>Задания</h2>
    <div id="assignments"></div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

<script th:src="@{/js/navbar.js}"></script>
<script th:src="@{/js/pupil.js}"></script>
</body>
</html>
