<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Tests by Topic</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/navbar.css"></link>
    <link rel="stylesheet" href="/css/question.css"></link>

    <script src="/js/navbar.js" defer></script>
    <script src="/js/question.js" defer></script>


</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">

    <div class="top-element">
        <button class="back-btn" onclick="goBack()">← MAVZUGA QAYTISH</button>

        <h1>Mavzuga oid testlar</h1>
        <input type="hidden" id="topicId" th:value="${topicId}">

        <button class="create-btn" onclick="createTest()">➕ TEST YARATISH</button>
    </div>


        <div class="start-screen" id="start-screen">
            <h2>Testni boshlash</h2>
            <button class="start-btn" onclick="startTest()">▶️ Start test</button>
        </div>




    <div id="questions" class="hidden"></div>

</div>


</body>
</html>
