<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Tests by Topic</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/navbar.css"></link>
    <link rel="stylesheet" href="/css/question.css"></link>

    <script src="/js/navbar.js" defer></script>

    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

</head>

<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div id="alertBox" class="alert hidden"></div>

<div class="container">

    <div class="top-element">
        <button class="back-btn" onclick="goBack()">← MAVZUGA QAYTISH</button>

        <h1>Mavzuga oid testlar</h1>
        <input type="hidden" id="topicId" th:value="${topicId}">

        <button class="create-btn" onclick="createTest()">➕ TEST YARATISH</button>
    </div>

    <div class="controls">

        <input type="text"
               id="searchInput"
               placeholder="🔍 Savolni qidirish..."
               class="search-input"
               autocomplete="off"
        >


        <select id="pageSizeSelect" class="page-size-select">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="all">Hammasi</option>
        </select>

    </div>

    <div class="table-wrapper">

        <table id="questionsTable" class="questions-table">
            <thead>
            <tr>
                <th>№</th>
                <th>SAVOLLAR</th>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>D</th>
                <th title="To'g'ri javob">✅</th>
                <th class="comment-col hidden" title="Izoh">💬To'g'ri <br>javob izohi</th>
                <th>Amallar</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div id="pagination" class="pagination"></div>

    <!-- Modal для комментариев -->
    <div id="commentModal" class="modal-overlay">
        <div class="modal">
            <h2 class="modal-h2">To'g'ri javob uchun izoh</h2>

            <textarea id="modalComment" readonly></textarea>

            <div class="modal-footer">
                <button id="modalEdit" class="modalEdit">✏️ Tahrirlash</button>
                <button id="modalSaveBtn" disabled class="modalSaveBtn">💾 Saqlash</button>
                <button onclick="closeCommentModal()" class="closeCommentModal">❌ Yopish</button>
            </div>
        </div>
    </div>



</div>

<script src="/js/question.js"></script>
</body>
</html>
