<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Yangi parol o'rnatish</title>

    <link rel="stylesheet" href="/css/register-login.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>

<div id="success-alert"
     th:if="${infoMessage}"
     th:text="${infoMessage}"
     class="success-alert"></div>

<p style="color: red"
   th:if="${resetPasswordError}"
   th:text="${resetPasswordError}"
   class="error-alert"
   id="error-alert"></p>

<div class="container">
    <div class="registration form">
        <header>Yangi parol o'rnatish</header>

        <form action="/reset-password" method="post">
            <input type="text" name="username" th:value="${param.username}" placeholder="Username" required>
            <input type="text" name="code" placeholder="Tasdiqlash kodi (6 xonali)" required maxlength="10">
            <input type="password" name="newPassword" placeholder="Yangi parol" required>
            <input type="password" name="confirmPassword" placeholder="Yangi parolni tasdiqlang" required>

            <input type="submit" class="button" value="Parolni yangilash">
        </form>

        <div class="signup">
            <span class="signup"><a href="/forgot-password">Kodni qayta yuborish</a></span>
        </div>
    </div>
</div>

<script>
    setTimeout(() => {
        const alert = document.getElementById("error-alert");
        if (alert) alert.style.display = "none";
    }, 8000);
</script>
</body>
</html>
