<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Создание теста</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/test-form.css">
    <script src="/js/test-form.js" defer></script>
</head>

<body>

<div class="container">
    <h1>Test yaratish</h1>

    <div class="top-btn">
        <div class="left-btn">
            <button class="btn-import" type="button" onclick="importExcel()" title="Avval shablonni yuklab oling, to'ldirib qayta import qiling.">📥 Import from Excel</button>
            <input type="file" id="excelFile" accept=".xlsx" hidden>
        </div>
        <div class="right-btn">
            <button class="btn-export" type="button" onclick="downloadTemplate()">
                📄 Shablon
            </button>
        </div>


    </div>



    <div id="importModal" class="modal hidden">
        <div class="modal-content">
            <h3 id="importTitle"></h3>
            <pre id="importBody"></pre>
            <button class="btn primary" onclick="closeModal()">OK</button>
        </div>
    </div>


    <form id="testForm">

        <!-- topicId из URL -->
        <input type="hidden" id="topicId" th:value="${topicId}">
        <!-- Вопрос -->
        <div class="form-group">
            <label for="question">Savol</label>
            <textarea id="question" name="question" class="auto-textarea" placeholder="Savol matnini kiriting" required></textarea>
        </div>

        <!-- Ответы -->
        <div class="answers">
            <h3>Javob variantlari</h3>

            <div class="answer">
                <input type="radio" name="correct" value="0" required>
                <textarea class="auto-textarea" name="answers[0]" placeholder="A variantni kiriting..." required></textarea>
                <button type="button" class="comment-btn btn hidden">✏️Izoh</button>
                <textarea class="commentary hidden"
                          name="commentaries[0]"
                          placeholder="Izoh kiriting..."></textarea>
            </div>

            <div class="answer">
                <input type="radio" name="correct" value="1">
                <textarea class="auto-textarea" name="answers[1]" placeholder="B variantni kiriting..." required></textarea>
                <button type="button" class="comment-btn btn hidden">✏️Izoh</button>
                <textarea class="commentary hidden"
                          name="commentaries[1]"
                          placeholder="Izoh kiriting..."></textarea>
            </div>

            <div class="answer">
                <input type="radio" name="correct" value="2">
                <textarea class="auto-textarea" name="answers[2]" placeholder="C variantni kiriting..." required></textarea>
                <button type="button" class="comment-btn btn hidden">✏️Izoh</button>
                <textarea class="commentary hidden"
                          name="commentaries[2]"
                          placeholder="Izoh kiriting..."></textarea>
            </div>

            <div class="answer">
                <input type="radio" name="correct" value="3">
                <textarea class="auto-textarea" name="answers[3]" placeholder="D variantni kiriting..." required></textarea>
                <button type="button" class="comment-btn btn hidden">✏️Izoh</button>
                <textarea class="commentary hidden"
                          name="commentaries[3]"
                          placeholder="Izoh kiriting..."></textarea>
            </div>
        </div>

        <!-- Кнопки -->
        <div class="actions">
            <button type="submit" class="btn primary">💾 Saqlash</button>
            <button type="reset" class="btn">↩ Tozalash</button>
            <button type="button" class="btn secondary" onclick="history.back()">⬅ Orqaga</button>
        </div>
    </form>
</div>



</body>

</html>