<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Основные метатеги -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO и описание страницы -->
    <meta name="description" content="Описание страницы">
    <meta name="author" content="Автор">

    <!-- Заголовок страницы -->
    <title>testConfigPage</title>

    <!-- Подключение CSS, JS -->
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/testConfigPage.css">

    <script src="/js/navbar.js" defer></script>
    <script src="/js/testConfigPage.js" defer></script>

    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">
    <h2>Bilimingizni sinab ko'ring</h2>

    <div class="section">
        <div class="section-title">Fanni tanlang</div>
        <select id="scienceSelect" onchange="loadTopicsFromSelect()">
            <option value="">-- Fanni tanlang --</option>
        </select>
    </div>

    <div class="section" id="topicSection">
        <div class="section-title">Mavzularni tanlang</div>
        <div class="multiselect" id="topicMultiselect">
            <div class="selectBox" onclick="toggleTopics()">
                <span id="topicLabel">--Mavzuni tanlash uchun bosing--</span>
                <div class="arrow"></div>
            </div>

            <div id="topicDropdown" class="checkboxes"></div>
        </div>
    </div>

    <div class="section">
        Mavjud testlar soni: <b><span id="max">0</span></b>
        <input type="number" id="limit" min="1" placeholder="--Test sonini kiriting--">
        <div id="limitError" class="error-text"></div>
    </div>

    <div class="section" id="timeSection">
        Umumiy vaqt (minut)
        <input type="number" id="time" value="10">
    </div>

    <button onclick="startTest()">Testni boshlash</button>

    <div id="timer"></div>
    <div id="test"></div>
</div>



</body>
</html>
