<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Test Session</title>

    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/testSession.css">

    <script src="/js/navbar.js" defer></script>
    <script src="/js/testSession.js" defer></script>
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">

   <div id="progressWrapper" class="progress-wrapper">

       <!-- Прогресс -->
       <div class="progress-bar">
           <div id="progress"></div>
       </div>

       <!-- Таймер -->
       <div id="timer" class="timer"></div>

   </div>

    <!-- Вопросы -->
    <div id="questions" class="questions-container"></div>

</div>


</body>
</html>
