<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Test Session</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/testSession.css}">

    </head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">

    <div id="modeLabel" class="mode-label"></div>

    <div id="progressWrapper" class="progress-wrapper">

       <!-- Прогресс -->
       <div class="progress-bar">
           <div id="progress"></div>
       </div>

       <!-- Таймер -->
       <div id="timer" class="timer"></div>

   </div>

    <!-- Вопросы -->
    <div id="questions" class="questions-container"></div>

</div>

<!-- 💬 Comment Modal -->
<div id="commentModal" class="modal hidden">
    <div class="modal-overlay" onclick="closeCommentModal()"></div>

    <div class="modal-content">
        <div class="modal-header">
            <h3>💬 Izoh</h3>
            <button class="close-btn" onclick="closeCommentModal()">✖</button>
        </div>

        <div class="modal-body" id="commentModalBody">
            <!-- текст комментария -->
        </div>

        <div class="modal-footer">
            <button onclick="closeCommentModal()">Yopish</button>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

<script th:src="@{/js/navbar.js}"></script>
<script th:src="@{/js/testSession.js}"></script>
</body>
</html>
